In [21]:
import pandas as pd

df=pd.read_csv('yellow_tripdata_2023-01.csv',nrows=100)

In [23]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [24]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [37]:
from sqlalchemy import  create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [40]:
df_iter=pd.read_csv('yellow_tripdata_2023-01.csv', iterator=True, chunksize=100000 ,parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [41]:
from time import time

In [42]:
while True:

    t_start=time()

    df=next(df_iter)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end=time()

    print(f'inserted another chunk..., took {t_end - t_start:.3f} seconds')

inserted another chunk..., took 8.633 seconds
inserted another chunk..., took 7.746 seconds
inserted another chunk..., took 7.675 seconds
inserted another chunk..., took 8.249 seconds
inserted another chunk..., took 8.585 seconds
inserted another chunk..., took 8.108 seconds
inserted another chunk..., took 8.014 seconds
inserted another chunk..., took 7.925 seconds
inserted another chunk..., took 9.694 seconds
inserted another chunk..., took 10.276 seconds
inserted another chunk..., took 8.251 seconds
inserted another chunk..., took 7.939 seconds
inserted another chunk..., took 8.070 seconds
inserted another chunk..., took 8.907 seconds
inserted another chunk..., took 8.285 seconds
inserted another chunk..., took 9.764 seconds
inserted another chunk..., took 8.737 seconds
inserted another chunk..., took 7.983 seconds
inserted another chunk..., took 8.081 seconds
inserted another chunk..., took 7.950 seconds
inserted another chunk..., took 9.485 seconds
inserted another chunk..., took 7.963 seconds
inserted another chunk..., took 9.719 seconds
inserted another chunk..., took 9.791 seconds
inserted another chunk..., took 8.312 seconds
inserted another chunk..., took 8.093 seconds
inserted another chunk..., took 8.641 seconds
inserted another chunk..., took 8.397 seconds
inserted another chunk..., took 8.198 seconds

/var/folders/b5/3p2_l8dn1hd82n1xgblq51gm0000gn/T/ipykernel_22637/3304142546.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk..., took 9.830 seconds
inserted another chunk..., took 6.182 seconds

StopIteration:

In [46]:
import pandas as pd

pd.read_parquet('/Users/jayesh/downloads/yellow_tripdata_2023-01.parquet')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN